@charset "UTF-8";


$first-color:#66A5AD;
$first-alpha-color:rgba(102, 165, 173, 0.75);
$second-alpha-color:rgba(7, 87, 91, 0.75);
$third-color:#003B46;
$third-alpha-color:rgba(0, 59, 70, 0.75);
$contrast-color:#E6853C;
$contrast-alpha-color:#E6853C;
$second-contrast-color:#994809;
$white-color:#fff;
$text-color:#222;
$title-color:#07575B;
$link-color:var(--contrast-color);
$title-font:"Finland-Bold";
$text-font: "Helvetica";

$facebook-icon-color: #1877F2;
$whatsapp-icon-color: #00E676;

$hamburguer-menu-height: 50px;

@mixin titles-sections {
    padding: 1rem;
    text-align: center;
    color: $title-color;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid $title-color;
}

@mixin text-style {
    font-family: $text-font;
    line-height: 1.5;
    color: $text-color;
    text-align: justify;
}

@mixin webcams {
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

@mixin buttonsBlog {
  @include text-style();
  padding: 0.3rem;
  background-color: $contrast-color;
  color: white;

  &:hover {
    background-color: darken($color: $contrast-color, $amount: 10%);
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.75);
  }
}

/*RESET*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*----- MOBILE ----*/
:root {
  font-family: $text-font, "Arial", Verdana, Tahoma, sans-serif;
  font-size: 14px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {scroll-snap-type: y mandatory;}

#cookiesBanner {
  @include text-style();
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $contrast-alpha-color;
  color: white;
  text-align: center;
  padding: 2rem;
  opacity: 1;
  z-index: 60000;

  p {margin-bottom: 1rem; }

  input { 
    padding: 0.5rem;
    background-color: $first-color;
    font-size: 1.2rem;
    letter-spacing: 2px;

    &:hover{
      background-color: $first-alpha-color;
    }
   }
}

a {
  color: black;
  &:active, &:link {
    color: black;
  }
}

//Colores de las redes sociales
.fa-facebook { color: $facebook-icon-color; }

.fa-whatsapp { color: $whatsapp-icon-color; }

.menu-close {display: none !important; }

#header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "lg";
}

#wrap-logo {
  grid-area: lg;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {width: 20%;}
}

#nav-desktop {display: none;}

.menu-open {display: block;}

#wrap-items {
  transition: all 1.5s ease;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: $first-color;
  text-transform: uppercase;
  z-index: 999;

  span.wrap-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    a {
      width: 100%;
      padding: 1.5em;
      text-align: center;
      letter-spacing: 1px;
      color: white;
      text-shadow: 1px 0px 5px black;
      border-bottom: 1px solid black;

      &:hover {background-color: $second-alpha-color;}

      &:active {background-color: $third-alpha-color;}
    }
  }
}

.hamburger {
  width: 100%;
  height: $hamburguer-menu-height;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $first-color;
  z-index: 999;

}

#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem;
}

#wrap-img-principal {
  width: 100%;
  position: relative;

  img {width: 100%;}
}

#wrap-message {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Finland-Bold";
  font-size: 1.6rem;
  color: $white-color;
  text-shadow: 1px 1px 5px black;
  scroll-snap-align: center;

  span {
    color: $contrast-alpha-color;
    text-shadow: 1px 0px 1px black;
  }
}

#wrap-img-principal img {
  width: 100%;
  object-fit: cover;
}


.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#wgs_widget_51_1403353076147 {margin: 0 auto;}
.info {
  padding: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  scroll-snap-align: center;

  h1 {@include titles-sections(); }
}

#info-webcam-section{
  display: grid;
  grid-template-columns: 1fr;
}

.container-webcams {scroll-snap-align: center; margin-bottom: 100%;}

#wrap-webcam-gandia {@include webcams();}

#wrap-webcam-oliva {@include webcams();}

#wrap-webcam-piles {
  @include webcams();
  #hora {@include titles-sections();}
  img {width: 100%;}
}

.webcam {
  width: 100%;
  img {width: 100%;}
}


/** ----- CLUB-SECTION -------- */
#club-section {
    scroll-snap-align: center;
    padding: 1rem;
        
    h1 { @include titles-sections();}

    div {
        width: 100%;
        img {width: 100%;}
    }
    #wrap-content{
        @include text-style();
        p{
            margin: 0.5rem;
            &:last-of-type{
                font-weight: bold;
            }
        }
        ul li {
            list-style: disc;
            margin-left: 2rem;
        }
    }

    h2 {
      @include text-style();
      padding: 1rem;
      color: $contrast-color;
      font-weight: bold;
      font-size: 1.5rem;
    }

     #wrap-como-llegar {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

      #wrap-container-como-llegar {
        width: 100%;
        iframe {
          width: 100%;
        }
      }
     } //Fin como-llegar

     #wrap-requisitos {
      grid-area: rqs;
      
     h2 {text-align: center;}
     ul {
       width: 100%;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       
       li {
         list-style:circle; 
         margin: 2rem;
         font-size: 1.3rem;
       }
     }
    }
}
//--------------------------------

/** ----- GALERY-SECTION -------- */
#gallery-section {
    scroll-snap-align: center;
    padding: 1rem;

    #gallery-desktop {
      display: none;
    }

    h1 { @include titles-sections() }

    #gallery-mobile {
      width: 100%;
      height: 100%;

      p{
        @include text-style();
        margin-bottom: 1rem;
      }

      .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
  
    }
}
//--------------------------------

/** ----- EVENTS-SECTION -------- */
#events-section {
  scroll-snap-align: center;
  padding: 1rem;

  h1 {@include titles-sections(); }
  h2 {
    @include text-style();
    color: $contrast-alpha-color;
    margin-bottom: 1rem;
  }


  #wrap-event-calendar {
    width: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  #wrap-news {

    display: grid;
    grid-gap: 1rem;
    
    img {width: 100% }

    .blog-new {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "imb ctb ctb ctb";
      grid-gap: 0.5rem;
      
      width: 100%;

      .wrap-img-blog {
        grid-area: imb;
        display: flex;
        justify-content: center;
        align-items: center;
        img {width: 100%;}
      }

      .wrap-content-blog {
        grid-area: ctb;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        button {@include buttonsBlog() }
      }

    }
  }
}

//--------------------------------

/** ------- CONTACT SECTION ------------ */

#contact-section {
  @include text-style();
  scroll-snap-align: center;
  padding: 1rem;

  h1 {@include titles-sections() }

  #wrap-img-contact { display: none;}
  form {

    display: grid;
    grid-gap: 1rem;
    input {
      @include text-style();
      padding: 0.3rem;
      width: 100%;
    }
    textarea {resize: none; }

    #wrap-submit {
     display: flex;
     justify-content: center;
     input[type="submit"] {
      text-align: center;
      width: 50%;
      background-color: $contrast-color;
    }
    }


  }
}

//--------------------------------------

//** ------- OFFERS SECTION ------------ */
section#offers-section {
  scroll-snap-align: center;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  
  h1 {@include titles-sections();}
  #wrap-desktop-img-offer{ display: none;}

  #wrap-offers {
    display: grid;
    grid-gap: 1rem;


    .offer {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "imgo imgo cnto cnto cnto";
      grid-gap: 1rem;

      .img-offer {
        grid-area: imgo;
        img {width: 100%;  }
      }
      .wrap-content-offer {
        grid-area: cnto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h4 {
          @include text-style();
          text-align: left;
         }
         button {
           @include buttonsBlog();
           width: 25%;
           text-align: center;
         }
      
      }
    }

  }
  #wrap-img-see-more-offer {
    @include text-style();
 
    button {
      width: 100%;
      padding: 0.4rem;
      font-size: 1.6rem;
      background-color: $contrast-color;
      a {color: $white-color;}
    }
  }
}


/** ----- PIE DE PAGINA -------- */
footer#footer {
  @include text-style();
  margin-bottom: $hamburguer-menu-height;
  background-color: $third-color;
  color: white;
  padding: 2rem;

  #wrap-content-footer {
 
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-template-areas: "prv prv prv prv prv"
                          "icn icn icn rrs rrs";

    #privacidad {
      grid-area: prv;
      a {color: $white-color;}

      #wrap-idiomas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          img { width: 30%;}
        }
      }
    
    }

    #footerIcono {
      grid-area: icn;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #wrap-rrss {
      grid-area: rrs;
      font-size: 3rem;
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;

    }
    img {
      width: 70%;
    }
  }
}
/*********************************/


/************* VISTA ESCRITORIO  ***************/
@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }

  #nav-mobile {
    display: none;
  }

  #header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "lg nv nv nv nv nv";
    grid-gap: 1rem;
  }

  #nav-desktop {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    grid-area: nv;

    #wrap-items-desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 1.5rem;

      .item-desktop {
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 1rem;
        transition: background-color .8s ease;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 15%;

        &:hover {
          background-color: #EFEFEF;
        }
      }
    }
    img {
      width: 2.5rem;
    }
  }// FIN de la navegacion para escritorio

  #wrap-message {
    font-size: 5vw;
  }

  #wrap-logo img {
    width: 10rem;
  }

  #info-webcam-section {
    position: relative;
    overflow-y: auto;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  //CLUB SECTION
  #club-section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 
        "tlt tlt tlt tlt"
        "img img ctn ctn"
        "ubc ubc rqs rqs";
      grid-gap: 1rem;

      h1 { grid-area: tlt; }
      #wrap-img { grid-area: img;}
      #wrap-content { grid-area: ctn;}
      #wrap-como-llegar {grid-area: ubc;}
      #wrap-requisitos { grid-area: rqs;}

  }// Fin de la seccion del club

  //GALERY SECTION
  #gallery-section{
    #gallery-mobile {
      display: none;
    }

    #gallery-desktop {
      display: block;
      p{
        @include text-style();
        margin-bottom: 1rem;
      }
      
      #wrap-column-photos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;

        .wrap-img-desktop {
          width: 100%;
          img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0px 0px 10px black;
            &:hover {
              transition: 2s;
              transform: scale(1.05);
              border-radius: 7px;
            }
          }
        }
      }
    }
  } //Fin de la seccion de la galeria y fotos

  //EVENT SECTION
  #events-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
          "etl etl etl etl etl"
          "ecl ecl nws nws nws";
    grid-gap: 2rem;

    h1 {grid-area: etl; }
    #wrap-event-calendar {grid-area: ecl;}
    #wrap-news {grid-area: nws; }

  }

  //CONTACT SECTION
  #contact-section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "cnt cnt"
                          " imc frm";

    grid-gap: 2rem;

    h1 {grid-area: cnt; }
    #wrap-img-contact {
      display: block;
      grid-area: imc;

      img {width: 100%; height: 100%; object-fit: cover; }
    }
    form {grid-area: frm; }

  }

  //OFFERS SECTION 
  section#offers-section {

    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "ttloff ttloff ttloff ttloff ttloff"
                          "imoff imoff cnoff cnoff cnoff"
                          "imoff imoff smoreoff smoreoff smoreoff";

    h1 {grid-area: ttloff; }
    #wrap-desktop-img-offer {
      display: block;
      grid-area: imoff;
      img { width: 100%; height: 100%; object-fit: cover;}
    }
    #wrap-offers {
      grid-area: cnoff;
      .offer {h4 { @include text-style(); font-size: 2rem;}}
    }
    #wrap-img-see-more-offer {grid-area: smoreoff; }
  }

  //FOOTER
  footer#footer {
    margin-bottom: 0;

    #wrap-content-footer {
      grid-template-columns: repeat(6 ,1fr);
      grid-template-areas: "prv prv icn icn rrs rrs";

      #privacidad {
        margin-top: 4rem
      }

      #wrap-rrss a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
      }
    }
  }
}
/*********************************/