/*RESET*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*----- MOBILE ----*/
:root {
  font-family: "Helvetica", "Arial", Verdana, Tahoma, sans-serif;
  font-size: 14px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
}

a {
  color: black;
}
a:active, a:link {
  color: black;
}

.menu-close {
  display: none !important;
}

#header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "lg";
}

#wrap-logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lg;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#wrap-logo img {
  width: 20%;
}

#nav-desktop {
  display: none;
}

.menu-open {
  display: block;
}

#wrap-items {
  transition: all 1.5s ease;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 4rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: #66A5AD;
  text-transform: uppercase;
  z-index: 999;
}
#wrap-items span.wrap-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#wrap-items span.wrap-item a {
  width: 100%;
  padding: 1.5em;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  text-shadow: 1px 0px 5px black;
  border-bottom: 1px solid black;
}
#wrap-items span.wrap-item a:hover {
  background-color: rgba(7, 87, 91, 0.75);
}
#wrap-items span.wrap-item a:active {
  background-color: rgba(0, 59, 70, 0.75);
}

.hamburger {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66A5AD;
  z-index: 999;
}

#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.3rem;
}

#wrap-img-principal {
  width: 100%;
  position: relative;
}
#wrap-img-principal img {
  width: 100%;
}

#wrap-message {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Finland-Bold";
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 1px 5px black;
  scroll-snap-align: start;
}
#wrap-message span {
  color: #E6853C;
  text-shadow: 1px 0px 1px black;
}

#wrap-img-principal img {
  width: 100%;
  object-fit: cover;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  scroll-snap-align: center;
}
.info h1 {
  padding: 1rem;
  text-align: center;
  color: #07575B;
  font-family: "Finland-Bold";
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #07575B;
}

#wrap-webcam-piles {
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#wrap-webcam-piles img {
  width: 100%;
}

.webcam {
  width: 100%;
}
.webcam img {
  width: 100%;
}

/** ----- CLUB-SECTION -------- */
#club-section {
  padding: 1rem;
}
#club-section h1 {
  padding: 1rem;
  text-align: center;
  color: #07575B;
  font-family: "Finland-Bold";
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #07575B;
}
#club-section div {
  width: 100%;
}
#club-section div img {
  width: 100%;
}
#club-section #wrap-content {
  font-family: "Helvetica";
  line-height: 1.5;
  color: #222;
  text-align: justify;
}
#club-section #wrap-content p {
  margin: 0.5rem;
}
#club-section #wrap-content p:last-of-type {
  font-weight: bold;
}
#club-section #wrap-content ul li {
  list-style: disc;
  margin-left: 2rem;
}

/** ----- GALERY-SECTION -------- */
#gallery-section {
  padding: 1rem;
  height: 600px;
}
#gallery-section #gallery-desktop {
  display: none;
}
#gallery-section h1 {
  padding: 1rem;
  text-align: center;
  color: #07575B;
  font-family: "Finland-Bold";
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #07575B;
}
#gallery-section #gallery-mobile {
  width: 100%;
  height: 100%;
}
#gallery-section #gallery-mobile p {
  font-family: "Helvetica";
  line-height: 1.5;
  color: #222;
  text-align: justify;
  margin-bottom: 1rem;
}
#gallery-section #gallery-mobile .swiper-container {
  width: 100%;
  height: 100%;
}
#gallery-section #gallery-mobile .swiper-container .swiper-slide {
  width: 100%;
}
#gallery-section #gallery-mobile .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }

  #nav-mobile {
    display: none;
  }

  #header {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "lg nv nv nv nv nv";
    grid-gap: 1rem;
  }

  #nav-desktop {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    grid-area: nv;
  }
  #nav-desktop #wrap-items-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 1.5rem;
  }
  #nav-desktop #wrap-items-desktop .item-desktop {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.8s ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
  }
  #nav-desktop #wrap-items-desktop .item-desktop:hover {
    background-color: #EFEFEF;
  }
  #nav-desktop #wrap-items-desktop span:last-of-type {
    padding: 1rem;
    font-size: 1.6rem;
  }
  #nav-desktop #wrap-items-desktop span:last-of-type:hover {
    position: relative;
    background-color: #d6d6d6;
    border-radius: 50%;
    transition: all 0.5s;
  }
  #nav-desktop #wrap-items-desktop span:last-of-type ul {
    position: absolute;
    z-index: 600;
    margin-top: 4rem;
    display: none;
  }
  #nav-desktop img {
    width: 2.5rem;
  }

  #wrap-message {
    font-size: 5vw;
  }

  #wrap-logo img {
    width: 10rem;
  }

  #info-webcam-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #club-section {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-template-areas: "tlt tlt tlt tlt" "img ctn ctn ctn";
    grid-gap: 1rem;
  }
  #club-section h1 {
    grid-area: tlt;
  }
  #club-section #wrap-img {
    grid-area: img;
  }
  #club-section #wrap-content {
    background-color: ctn;
  }

  #gallery-section #gallery-mobile {
    display: none;
  }
  #gallery-section #gallery-desktop {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
  #gallery-section #gallery-desktop .wrap-img-desktop {
    width: 25%;
  }
  #gallery-section #gallery-desktop .wrap-img-desktop img {
    width: 100%;
    object-fit: cover;
  }

  #wrap-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media (min-width: 768px) {

  #club-section h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
  }

  #club-section #wrap-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media (min-width: 768px) {

  #nav-desktop {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 9;
  }
}